VITE_PANOPTES_URL=http://localhost:8000
VITE_PANOPTES_IS_EMBEDDED=false
VITE_PANOPTES_DATASET=iisg-bypass
VITE_PANOPTES_SEARCH_PATH=/\$dataset/search
VITE_PANOPTES_DETAIL_PATH=/\$dataset/details/\$id
VITE_PANOPTES_THEME=iisg
