html {
    --color-brand: #3d5a63;
    --color-brand-500: #3d5a63;
    --color-header-text: #fff;
    --color-support-001: #3d5a63;
    --color-support-002: #d6e6df;
    --color-support-003: #eef1ee;
    --default-font-family: sans-serif;
    --content-max-width: 62rem;
}