html {
    --color-brand: #73a1bf;
    --color-brand-500: #73a1bf;
    --color-header-text: #fff;
    --color-support-001: #73a1bf;
    --color-support-002: #73a1bf;
    --color-support-003: #73a1bf;
    --default-font-family: sans-serif;
}